@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Zeyada&display=swap');
.head{
    /* background: url('https://wallpaperaccess.com/full/185328.jpg');
    background: url('https://www.xtrafondos.com/en/descargar.php?id=7254&resolucion=3840x2160');
    background-attachment: fixed; */
    /* background-position: center; */
    /* background-size: cover; */
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    z-index: -1;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    background: #000; 
}
::-webkit-scrollbar-thumb{
    background: #1ac2c5; 
    border-radius: 60px;

}
#imglogo{
    height:25px ;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
  overflow: hidden;
  background:linear-gradient(to bottom, #000, #0003 70%,#0000);
  position:fixed;
  width: 100vw;
  z-index: 999;
  top: 0;
  height: 55px;
  padding: 3px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 15px;
  margin-top: 3px;
  margin-right: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.topnav a:hover {
  background-color: #00000080;
  color: white;
  border-radius: 10px;
}

.topnav a.active {
  color:blanchedalmond;
  font-weight: 800;
}
.topnav span{
    color: #00ff9d;
}
.topnav a.active:hover{
    background-color: #00000097;
    color: white;
  }

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative; height:250px;position: absolute;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      position: sticky;
    }
  }
.nav-item a:hover{
    
    text-decoration: underline;
}
#back1 h2{
    margin-top: 30px;
}
#vidback{
    position: absolute;
    object-fit: contain;
    width: 100vw;
    height: 140vw;
   
    right: 0;
    bottom: 0;
    top: 0px;
    left: 0px;
    z-index: -90000;
}

.head span{
    font-size: 80px;
}
.head h1{
    position: absolute;
    top: 10%;
    left: 70%;
    font-size: 120px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
@media (min-aspect-ratio: 16/9) {
    #vidback {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #vidback { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #vidback {
        width:auto;
        height: 100%;
    }
}
@media only screen and (max-width:500px){
    #vidback{
        position: absolute;
        object-fit: cover;
        width: 101vw;
        height: 101vh;
        right: 0;
        bottom: 0;
        z-index: -9;
      }
    .head h1{
        top: 8%;
        left: 32%;
        font-size: 78px;
    }
    .head span{
        position: relative;
        font-size: 60px;
        left: 31%;
    }
    .img-hover-zoom img{
        height:280px;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
      }
    .img-hover-zoom:hover img {
        transform: scale(1.1);
      }
}
.santa{
    color: rgb(0, 0, 0);
}
.img-hover-zoom{
    height: 300px;
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .8s ease;
  }
.img-hover-zoom:hover img {
    transform: scale(1.2);
  }
  #devk{
    text-decoration: none;
    color: #595c5f;
  }
/* .row h1{
    position: relative;
    top: -900px;
    font-size: 80px;
    font-weight: 800;
    color: rgb(0, 0, 0);
} */

.btn-warning{
    margin-top: -580px;
    font-size:19px;
    font-weight: 500;
    /* padding: 10px 10px 10px 10px; */
}
.btn-success {
    background-color: #6315c2 !important;
    border-color: #6315c2;
}
.btn-secondary {
    background-color: #10d631 ;
    border-color: #0bdd8c;
}
a{
    text-decoration: none;
    color: #595c5f; 
}
#more{
    padding-top: 120px;
}
#morecards{
    padding-bottom: 20px;
}
#pack{
    padding-top: 70px;
}
#trvlprep {
    padding-top: 30px;
}
/* .Morepckg{
    display:flex;
    justify-content: center;
    width: 60px;
} */

/* .cont{
    padding-left: 0px;
    padding-right: 0px;
} */