@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Zeyada&display=swap');
.head{
    background: url('https://wallpaperaccess.com/full/185328.jpg');
    /* background: url('https://www.xtrafondos.com/en/descargar.php?id=7254&resolucion=3840x2160'); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100vw;
    position: relative;
    z-index: -1;
}
.head span{
    font-size: 80px;
}
.head h1{
    position: absolute;
    top: 10%;
    left: 70%;
    font-size: 120px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
@media only screen and (max-width:500px){
    .head h1{
        top: 8%;
        left: 30%;
        font-size: 60px;
    }
    .head span{
        font-size: 50px;
    }
    .img-hover-zoom{
        height: 250px;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
      }
    .img-hover-zoom:hover img {
        transform: scale(1.1);
      }
}
.santa{
    color: rgb(0, 0, 0);
}
.img-hover-zoom{
    height: 400px;
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .5s ease;
  }
.img-hover-zoom:hover img {
    transform: scale(1.1);
  }
  #devk{
    text-decoration: none;
    color: #595c5f;
  }
/* .row h1{
    position: relative;
    top: -900px;
    font-size: 80px;
    font-weight: 800;
    color: rgb(0, 0, 0);
} */

.btn-warning{
    margin-top: -580px;
    font-size:19px;
    font-weight: 500;
    /* padding: 10px 10px 10px 10px; */
}
.btn-success {
    background-color: #6315c2 !important;
    border-color: #6315c2;
}
.btn-secondary {
    background-color: #10d631 ;
    border-color: #0bdd8c;
}
a{
    text-decoration: none;
    color: #595c5f; 
}
/* .Morepckg{
    display:flex;
    justify-content: center;
    width: 60px;
} */

/* .cont{
    padding-left: 0px;
    padding-right: 0px;
} */